body {
    background-color: black;
    margin: 300px;
}

.A {
    height: 25px;
    width:  150px;
    border: #ff6e1d 3px solid;
    border-radius: 20px;
    text-align: center;
    color: #ff6e1d;
}
.B {
    height: 25px;
    width:  150px;
    border: #2cfff2 3px solid;
    border-radius: 20px;
    text-align: center;
    color: #2cfff2;
}
.C {
    height: 25px;
    width:  150px;
    border: #ff54a6 3px solid;
    border-radius: 20px;
    text-align: center;
    color: #ff54a6;
}
.D {
    height: 25px;
    width:  150px;
    border: #ff3e3e 3px solid;
    border-radius: 20px;
    text-align: center;
    color: #ff3e3e;
}