body {
    margin: 15;
}
.A {
    height: 35px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.B {
    height: 90px;
    background: #c0c0c0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}
.C {
    height: 90px;
    background: #6395ec;
    overflow: hidden;
    box-sizing: border-box;
    padding: 15px
}
.D {
    height: 200px;
    width: 200px;
    background: #6bba67;
    overflow: hidden;
    box-sizing: border-box;
}
.E {
    height: 200px;
    width: 200px;
    background: #ffaa00;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}